/*Reset*/
* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    /* color: white; */
}
*:visited {
    color: black;
}
button {
    border: none;
}
img {
    width: 100%;
}
main {
    color: white;
}
h3 {
    font-size: 19px;
    font-weight: 200;
}
h2 {
    font-size: 25px;
    font-weight: 300;
}
h1 {
    font-size: 48px;
    font-weight: 500;
}
.welcome {
    font-size: 60px;
    font-weight: 500;
}
/*Private library*/
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: start;
}
.align-end {
    align-items: end;
}
.gap25 {
    gap: 25px;
}
.gap12 {
    gap: 12px;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.wrap {
    flex-wrap: wrap;
}
/*Paddings and Margins class*/
.mg1 {
    margin: 1%;
}
.mg2 {
    margin: 2%;
}
.pd1 {
    padding: 1%;
}
.pd2{
    padding: 2%;
}
.mgh2 {
    margin: 0 2%;
}
.mgv2 {
    margin: 2% 0;
}
.pdh2 {
    padding: 0 2%;
}
.pdv2 {
    padding: 2% 0;
}
.pdv5 {
    padding: 5% 0;
}
.pdv10 {
    padding: 10% 0;
}
/* Color Class */
.color-white {
    color: #fbffff
}
.color-black {
    color: black;
}
.blur {
    backdrop-filter: blur(10px);
}
/*Hover*/
.menu-header li a:hover {
    color: #0BB3FB;
}
.main-right div h3 a:hover {
    color: #0BB3FB;
}
/*Header*/
nav {
    height: 100px;
}
.menu-header li a:link {
    color: black;
}
.menu-header {
    gap: 5%;
    width: 50%;
    font-weight: bold;
    list-style: none;
}
.burger {
    height: 50px;
    width: 50px;
}
.logo {
    height: 65px;
    width: 370px;
}
/*Footer*/
footer {
    background-color: #1d1d1d;
    height: 150px;
    padding: 1% 0;
    position: absolute;
    right: 0;
    left: 0;
}
footer a:link {
    color: white;
}
footer a:visited {
    color: white;
}
footer a:hover {
    color: #0BB3FB;
}
.footer-social {
    height: 30px;
    width: 30px;
}
.footer-top h2, .footer-bottom div, .footer-bottom h3 {
    width: 33%;
}
.footer-logo-container {
    gap: 25px;
}
/*Home*/
.home-main {
    min-height: 83vh;
    background-image: conic-gradient(from 360deg at 50% 100%, #272727 0%, #10526e 100%);
}
.home-main div {
    width: 50%;
}
.white-line {
    height: 1px;
    background-color: white;
}
.hire {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    cursor: pointer;
    color: #0BB3FB;
}
.hire:hover {
    box-shadow: 4px 4px 5px 0 rgba(13, 122, 206, 0.75);
    transition: all 0.5s ease-in ;

}
.home-button, .home-button2 {
    height: 70px;
    width: 250px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    color: #fff;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.home-button2 {
    background-image: linear-gradient(to right, #10526e, #485563,#272727);
    box-shadow: 1px 1px 5px 0 rgba(13, 122, 206, 0.75);
}
.home-button {
    background-image: linear-gradient(to right, #272727, #485563, #10526e);
    box-shadow: 4px 4px 5px 0 rgba(59, 59, 59, 0.75);
}
.home-button:hover, .home-button2:hover {
    background-position: 100% 0;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    font-weight: bold;
}
.home-button:focus, .home-button2:focus {
    outline: none;
}
.home-pic {
    height: 375px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5), -2px -2px rgba(255, 255, 255, 0.25);
}
.citation {
    font-style: italic;
    font-weight: 500;
}
.main-right {
    gap: 20px;
}
/*Resume*/
.nav-resume {
    width: 100%;
    background-color: #3D3D3D;
    border: 1px solid black;
}
.nav-resume ul {
    height: 100%;
}
.nav-resume ul li {
    list-style: none;
    text-align: center;
}
.resume-left, .resume-right {
    width: 50%;
}
.resume-img {
    height: 80.5vh;
    object-fit: cover;
}
.black-line {
    height: 1px;
    background-color: black;
}
.resume-right {
    padding-left: 3%;
    padding-right: 2%;
}
.resume-right .black-line {
    width: 30%;
}
.resume-select {
    gap: 10px;
}
.resume-select div {
    width: 25px;
    height: 3px;
}
.resume-nav {
    gap: 40px;
}
.resume-nav img {
    height: 50px;
    width: 50px;
    margin: 2% 0;
}
.underline {
    text-decoration: underline;
}
.color-blue {
    color: #0BB3FB;
    font-weight: 500;
}
.bg-blue {
    background-color: #0BB3FB;
}
.main-resume > .resume-right > h2{
    font-size: 50px;
    
}
.main-resume > .resume-right > h3{
    font-size: 25px;
}
.main-resume > .resume-right > p {
   font-size: 20px; 
}
/*Contact*/
.contact {
    min-height: 87vh;
    background-image: conic-gradient(from 360deg at 50% 100%, #10526e  0%, #272727 100%);
}
.contact div {
    width: 50%;
}
.contact div form {
    width: 90%;
}
input {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}
textarea {
    border: none;
    background-color: #505050;
    color: white;
    border-radius: 10px;
    padding: 2%;
}
.contact-submit {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid white;
    padding: 0 8%;
    margin-top: 20px;
}
form > * {
    margin-top: 20px;
}
.icon {
    height: 40px;
    width: 40px;
}
.contact-text {
    font-weight: 600;
}
.main-right a:link {
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.main-right a:visited {
    color: white;
}
/*Project*/
.project-left {
    height: 81.5vh;
    width: 50%;
    padding: 2%;
    gap: 50px;
}
.project-left h2, .project-left h3, .project-left h1 {
 font-weight: 600;
 z-index: 2;
}
.project-container1 {
    background-color: #754D3C;
}
.project-container2 {
    background-color: #3C6B75;
}
.project-container3 {
    background-color: #554C8E;
}
.project1{
    background: url(../img/projets/driving-old-car-road-trip-generated-by-ai\ 1\(1\).jpg);
}
.project2{
    background: url(../img/projets/sagadecor-bg.png);
}
.project3{
    background: url(../img/projets/gsimulatorbg.jpg);
}
.project-background {
    max-width: 1920px;
    filter: brightness(0.55);
    clip-path: polygon(0 0, 100% 0, 30% 100%, 0% 100%);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.project-right {
    position: relative;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.project-slider-container {
    align-items: center;
    gap: 18px;
    margin-bottom: 20px;
}
.thumbnail div {
    position: absolute;
    top: 30%;
    right: -200px;
    gap: 20px;
    /* width: 130%; */
}
.thumb-pic {
    height: 250px;
    width: 300px;
}
.thumb-hide {
    height: 250px;
    width: fit-content;
}
#project-button {
    width: 200px;
}
#project-h1 {
    font-size: 60px;
}
.responsive-project {
    z-index: 2;
}
/*Resume sliders*/
#bgs1 {
    background: linear-gradient(135deg, rgba(87, 87, 87, 1) 0%, rgba(55, 87, 97, 1) 100%);
}
#bgs2 {
    background: linear-gradient(135deg, #597D4D 0%, #2C4342 100%);
}
#bgs3 {
    background: linear-gradient(135deg, #b0afaf 0%, #247497 100%);
}
#bgs4 {
    background: linear-gradient(135deg, #BA9C86 0%, #815D49 100%);
}
#bgs5 {
    background: linear-gradient(135deg, #2B485C 0%, #818181 100%);
}
#bgs6 {
    background: linear-gradient(135deg, #717238 0%, #A05F30 100%);
}

@media screen and (max-width :850px) {
    .logo {
        object-fit: cover;
        object-position: 100%;   
        height: 40px;
        width: 115px;        
    }
    .burger {
        height: 35px;
        width: 35px;
    }
    nav {
        height: 70px;
    }
    .menu-header {
        width: 60%;
    }
    .menu-header li a {
        font-size: 16px;
    }
    footer {
        height: 100px;
    }
    footer a {
        font-size: 16px;
    }
    .footer-social {
        height: 25px;
        width: 25px;
    }
    .welcome {
        font-size: 50px;
    }
    h3 {
        font-size: 18px;
    }
    h2 {
        font-size: 24px;
    }
    #project-h1 {
        font-size: 38px;
        text-align: center;
    }
    .home-pic {
        height: 275px;
        width: 200px;
    }
    .home-main {
       min-height: fit-content;
    }
    .main-left {
        justify-content: flex-start;
        gap: 25px;
    }
    .home-button, .home-button2 {
        width: 175px;
        height: 50px;
    }
    .project-left {
        position: relative;
        justify-content: flex-start;
        width: 100%;
        height: 81vh;
        gap: 20px;
    }
    .project-right {
        position: inherit;
        top: 40%;
        height: 100%;
        width: 100%;
        
    }
    .responsive-project {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .project-container1, .project-container2, .project-container3 {
        flex-direction: column;
    }
    .thumbnail div {
        height: 100%;
        top: 55%;
    }
    .thumb-pic, .thumb-hide {
        height: 200px;
        width: 250px;
    }
    .project-slider-container {
        z-index: 2;
    }
    .contact {
        flex-direction: column;
        min-height:fit-content ;
    }
    .contact div {
        width: 100%;
        margin-bottom: 20px;
    }
    .main-right div {
       justify-content: center;
    }
    .main-resume > .resume-right > h2{
        font-size: 26px;
        font-weight: 600;
    }
    .main-resume > .resume-right > h3{
        font-size: 18px;
        font-weight: 300;
    }
    .main-resume > .resume-right > p {
       font-size: 14px; 
    }
    .main-resume {
        flex-direction: column;
    }
    .resume-left, .resume-right {
        width: 100%;
    }
    .resume-slider {
        display: none;
    }
    .resume-slider:nth-child(6) {
        display: block;
    }
    .hstop, .hsbottom {
        flex-direction: row;
        gap: 16px;
    }
    .hstop > *, .hsbottom > * {
        width: 32%;
        text-align: center;
        list-style: none;
    }
    .hstop h3, .hsbottom h3 {
        font-weight: bold;
    }
    .hscol {
        flex-direction: column;
        gap: 10px;
    }
    .resume-nav img {
        height: 30px;
        width: 30px;
        /* margin-top: -15px; */
    }
    .resume-nav {
        height: 50px;
    }
    .nav-resume {
        display: none;
    }
    .nav-resume ul li {
        font-size: 17px;
    }
    #bgs2 {
        padding-left: 5px;
    }
    .ri1, .rr1, .ri3, .rr3, .ri4, .rr4, .ri6, .rr6 {
        height: 46.25vh;
    }
    .rr2 {
        height: 60.25vh;
    }
    .ri2 {
       height: 32.25vh; 
    }
    .ri5 {
        height: 36.25vh;
    }
    .rr5 {
        height: 56.26vh;
    }
}

@media screen and (max-width :460px) {
    .logo {
        object-fit: cover;
        object-position: 0%;   
        height: 30px;
        width: 150px;        
    }
    .burger {
        height: 20px;
        width: 20px;
    }
    #project-h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    .menu-header {
        width: 75%;
        display: none;
    }
    .menu-header li a {
        font-size: 14px;
    }
    .project-left {
        gap: 10px;
    }
    #project-button {
        width: 140px;
    }
    .footer-social {
        margin-bottom:-70px;
    }
    .home-main div {
        width: 100%;
    }
    .home-main {
        flex-direction: column;
    }
    .main-right {
        margin: 20px 0;
    }
    .main-left {
        text-align: center;
    }
    .thumb-pic, .thumb-hide {
        height: 150px;
        width: 200px;
    }
    .thumbnail div {
        left: 15%;
        top: 60%;
    }
    .project-slider-container {
        gap: 10px;
    }
    .project-slider-container p {
        font-size: 16px;
        width:60px ;
    }
    .project-slider-container .icon {
        height: 30px;
        width: 30px;
    }
    #project-button {
        width: 115px;
    }
    .resume-img {
        position: absolute;
        height: 81.7vh;
        top: 70px;
        z-index: -1;
        filter: brightness(0.3);
    }
    #bgs1, #bgs2, #bgs3, #bgs4, #bgs5, #bgs6 {
        background: none;
    }
    .resume-right {
        height: 81.7vh;
    }
}